body {
  font-family: "Arial", sans-serif;
}

.bg-gray-900 {
  background-color: #1a202c;
}

.text-white {
  color: white;
}

.bg-white {
  background-color: white;
}

.text-black {
  color: black;
}

button {
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #1a202c;
}
